@import "bootstrap";

/*
 *= require_tree .
 *= require_self
*/

.notification {
  border: 2px solid;
  margin: 5px;
  padding: 5px;
}

.alert, .error {
  border-color: red;
}

.notice {
  border-color: green;
}

h1 {
  text-align: center;
  padding: 20px 0px;
}

form {
  border: 3px solid #f1f1f1;
  padding: 10px;
  max-width: 400px;
  margin: auto;
  width: 50%;

  input, .email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }

  .email {
    border: none;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }
}
